<html lang="en">

    <head>
        <title>Sales Data</title>
    </head>

    <body>
        <h1>Current Sale</h1>
        <table border="1">

            <form action="/update/{{ sale.id }}" method="POST">
                <label for= "id">ID</label>
                <input type="number" id="id" name="id" value="{{sale.id}}"><br>
                <label for="store_code">Store_Code:</label>
                <input type="text" id="store_code" name="store_code" value="{{sale.store_code}}"><br>
                <label for="total_sale">Total_Sale:</label>
                <input type="number" id="total_sale" name="total_sale" value="{{sale.total_sale}}"><br>
                <label for="transaction_date">Transaction_Date:</label>
                <input type="date" id="transaction_date" name="transaction_date" value="{{sale.transaction_date.strftime('%Y-%m-%d')}}"><br>
            </form>

        </table>
        <br>
        <h2>Update Sale</h2>
        <form action="/update/{{ sale.id }}" method="POST">
            <label for= "id">New_ID</label>
            <input type="number" id="id" name="id" required><br>
            <label for="store_code">New_Store_Code:</label>
            <input type="text" id="store_code" name="store_code" required><br>
            <label for="total_sale">New_Total_Sale:</label>
            <input type="number" id="total_sale" name="total_sale" step="0.01" required><br>
            <label for="transaction_date">New_Transaction_Date:</label>
            <input type="date" id="transaction_date" name="transaction_date" required><br>
            <input type="submit" value="Update Sale">

        </form>

    </body>


</html>